      body {
        padding-top: 3px;
        overflow-y:scroll;
      }
      .statement_para {
          font-size: 14pt;
          line-height: 120%;
          width: 60%;
          text-align: justify;
          text-justify: distribute;
          margin: 10px auto;
          margin-bottom: 30px;
      }
      path {
        stroke-width: 2;
        fill: none;
      }
      text {
        font: 12px sans-serif;
      }

      svg {
        display: block;
      }
      
      .row {
        margin 1%;
      }

      article {
        padding: 0 1%;
        font-size: 18px;
        line-height: 1.5em;
      }

      body > .container {
        width: 941px;
      }

      @media(min-width: 1200px){
        body > .container {
          width: 1171px;
        }
      }

      @media (max-width: 979px) and (min-width: 768px) {
        body > .container {
          width: 725px;
        }
      }
